@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FLA-MOM Patient Registration</h1>
    <p>If you are a new patient please select "new patient" above.</p>
    <p>Once you complete the forms please save your patient ID as you will need this later on.</p>
</div>
