<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FLA-MOM Patient Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FLAMOM_SeniorProject.styles.css" asp-append-version="true" />
    <style>
        /* font family */
        body {
            font-family: 'Roboto', sans-serif;
        }

        /* background and text colors */
        body {
            background-color: #FFFFFF;
            color: #000000;
        }

        /* headings */
        h4 {
            color: #5ac7ce;
        }

        /* form elements */
        label.control-label {
            font-weight: bold;
            color: #1992c9;
        }

        .text-danger {
            color: #eb5d13;
        }

        .btn-primary {
            background-color: #1992c9;
            border-color: #1992c9;
        }

            .btn-primary:hover {
                background-color: #5ac7ce;
                border-color: #5ac7ce;
            }
    </style>
</head>
<body>
    <header>
        <nav b-73mcxd4gl5 class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-73mcxd4gl5 class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img alt="FLA-MOM" src="https://volusiaflaglerdental.org/wp-content/uploads/2019/02/fla-mom.jpg"/> </a>
                <button b-73mcxd4gl5 class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-73mcxd4gl5 class="navbar-toggler-icon"></span>
                </button>
                <div b-73mcxd4gl5 class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-73mcxd4gl5 class="navbar-nav flex-grow-1">
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="VisitInformations" asp-action="Create">New Patient</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FLAMOM_SeniorProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
