@model FLAMOM_SeniorProject.ViewModel.ConfirmationVM
<style>
    /* font family */
    body {
        font-family: 'Roboto', sans-serif;
    }

    /* background and text colors */
    body {
        background-color: #FFFFFF;
        color: #000000;
    }

    /* headings */
    h4 {
        color: #5ac7ce;
    }

    /* form elements */
    label.control-label {
        font-weight: bold;
        color: #1992c9;
    }

    .text-danger {
        color: #eb5d13;
    }

    .btn-primary {
        background-color: #1992c9;
        border-color: #1992c9;
    }

        .btn-primary:hover {
            background-color: #5ac7ce;
            border-color: #5ac7ce;
        }
</style>
<div>
    Your Patient Id is :@Model.PatientID
</div>